﻿@model ParamsVm

<form asp-action="FetchWeatherData" onsubmit="return getWeatherData(this);">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title textGradient" id="exampleModalLabel">Enter params</h5>
                </div>
                <div class="modal-body d-flex flex-column gap">
                    <input onkeyup="disableChange(this, 'sendBtn')" asp-for="Zip" class="form-control form-control-lg" type="text" placeholder="Enter ZIP code">
                    <input onkeyup="disableChange(this, 'sendBtn')" asp-for="CountryCode" class="form-control form-control-lg" type="text" placeholder="Enter country code (Ex. 'ru' or 'us')">
                </div>
                <div class="modal-footer">
                    <input disabled="disabled" id="sendBtn" type="submit" class="btn btn-primary" value="Get weather">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>