﻿@using WeatherByZipAPI.Helpers
@model IEnumerable<WeatherByZipAPI.Data.Entity.Weather>

@foreach (var weather in Model)
{
    <div class="w-container d-flex">
        <span class="material-symbols-outlined icon textGradient">
            @weather.ConditionType.GetDescription()
        </span>
        <h1 class="conditions">@weather.ConditionType.GetDisplayName()</h1>
        <h1 class="temperature textGradient">@Math.Round(weather.Temperature, MidpointRounding.ToZero)°C</h1>
        <h1 class="time">@weather.DateTimeReq.ToLongTimeString()</h1>
        <h1 class="location textGradient">
            <span class="material-symbols-outlined">location_on</span>
            @weather.City
        </h1>
    </div>
}