﻿@model IEnumerable<WeatherByZipAPI.Data.Entity.Weather>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather by ZIP</h1>
    <p>Вeveloped as part of the <a target="_blank" href="https://public.3.basecamp.com/p/PZaZV6mpKLzkxrYzHJFEihuX">assignment</a>.</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Get weather by ZIP</button>
    <div id="weatherItems" class="d-flex flex-column weather-items m-5">
        @await Html.PartialAsync("_WeatherItems", Model)
    </div>
</div>

@await Html.PartialAsync("_ModalZip", new ParamsVm())