﻿a {
    color: #ff7e5f;
}

a:hover {
    color: #ff5e62;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

.w-container {
    color: #40261AB3;
    overflow: hidden;
    z-index: 10;
    position: relative;
    height: 130px;
    background: linear-gradient(120deg, #ff99664D 0%, #ff5e624D 100%);
    border-radius: 30px;
    box-shadow: 0 25px 15px -20px rgba(0, 0, 0, 0.15);
    align-items: center;
}

.icon {
    position: absolute;
    font-size: 100px;
    left: 20px;
    opacity: 0.3;
}

.conditions {
    position: absolute;
    font-weight: 100;
    font-size: 20px;
    left: 130px;
    top: 25px;
}

.temperature {
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    left: 130px;
    bottom: 5px;
}

.time {
    position: absolute;
    font-size: 26px;
    font-weight: 200;
    right: 20px;
    top: 15px;
}

.locationIcon {
    font-size: 20px !important;
}

.textGradient {
    background: -webkit-linear-gradient(120deg, #ff9966 0%, #ff5e62 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.location {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    right: 20px;
    bottom: 15px;
}

@keyframes enlarge {
    50% {
        transform: scale(1.2);
    }
}

.weather-items {
    gap: 15px;
}

.modal-content {
    border-radius: 2rem;
}

.btn {
    font-weight: 600;
    padding: 0.7rem 1rem;
}

.btn {
    border-radius: .8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    border-radius: .8rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background: linear-gradient(120deg, #ff9966 0%, #ff5e62 100%);
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(120deg, #E68A5C 0%, #E65557 100%);
}

.form-control-lg {
    border-radius: .8rem;
}

.modal {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 153, 102, 0.1);
}

.modal-footer, .modal-header, .modal-content, .modal-body {
    border: none;
    justify-content: flex-start;
}

.modal-body {
    padding: 0 1rem;
}

.modal-content {
    padding: 1.5rem;
}

.gap {
    gap: 10px;
}

.modal-title {
    font-weight: 600;
    font-size: 28px;
}